@import 'reset.css';
@import 'index.css';

.App {
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(136deg, #ff006a, #ff8800, yellow);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1 {
  font-weight: bold;
  font-size: 4em;
  padding: 5px;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  padding: 5px;
  
}

.form {
  padding: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

input {
  border: none;
  outline: none;
  padding: 7.5px;
  letter-spacing: .1em;
  width: 240px;
}

button {
 cursor: pointer;
 border: none;
 padding: 7px;
 outline: none;
 background-color: #00f7ff;
}
button:hover {
  background-color: #89fbff;
}

.todo-view {
  width: 460px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	align-items: center;
  margin-top: 10px;
}

.todo-item {
  font-weight: 400;
  font-size: 1.5em;
  background: 0.4;
  text-align: left;
  width: 400px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.btn-group {
  display: flex;
  flex-direction: row;
}
