@import 'reset.css';
@import 'index.css';

.App {
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(136deg, #ff006a, #ff8800, yellow);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1 {
  font-weight: bold;
  font-size: 4em;
  padding: 5px;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  padding: 5px;
  font-style: italic;
}

.form {
  padding: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

input {
  border: none;
  outline: none;
  padding: 12px;
  letter-spacing: .1em;
  width: 300px;
}

button {
 cursor: pointer;
 border: none;
 padding: 7px;
 outline: none;
 color: white;
}
/* button:hover {
  background-color: #89fbff;
} */

.add-btn {
  /* background-color: rgb(255, 136, 38); */
  /* background-color: #f5571e; */
  background-color: #ff5f00;
}

.complete-btn {
  background-color: #00f7ff;
}
.complete-btn:hover {
  background-color: #89fbff;
}

.trash-btn {
  background-color: rgb(238, 0, 238);
}
.trash-btn:hover {
  background-color: rgb(233, 89, 233);
}

/* .filter-select {
  
} */



.filter-todos {
  border: none;
  outline: none;
  padding: 7.5px;
  letter-spacing: .1em;
}

.todo-view {
  width: 500px;
  padding: 1.25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	align-items: center;
  margin-top: 10px;
}

.todo-item {
  font-weight: 400;
  font-size: 1.5em;
  background: 0.4;
  text-align: left;
  width: 385px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.btn-group {
  display: flex;
  flex-direction: row;
}
