@import 'reset.css';
@import 'index.css';

.App {
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom right ,#ff0055, #ff8800, #ffd000);
  padding: 15px;
  display: flex;
}

h1 {
  font-weight: bold;
  font-size: 4em;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
}


